agent-framework-devui==1.0.0b260528
agent-framework-core==1.7.0
agent-framework-openai==1.7.0
agent-framework-foundry==1.7.0
agent-framework-foundry-hosting==1.0.0a260528
agent-framework-orchestrations==1.0.0rc2
python-dotenv==1.2.2
matplotlib==3.10.8
psutil==7.2.2
azure-monitor-opentelemetry-exporter==1.0.0b52
azure-ai-agentserver-responses==1.0.0b7
azure-ai-agentserver-core==2.0.0b5
azure-ai-projects==2.1.0
a2a-sdk==1.0.2
azure-identity==1.25.3
httpx==0.28.1
azure-search-documents==11.6.0b12
